= form_for(@message) do |f|
  = f.text_area :content, placeholder: "Write your note...", :autofocus => true, class: 'content-input'

  #action-toolbar
    .grid-row
      .eighty
        = f.text_field :location, placeholder: 'Add a geofence', class: 'pseudo-input'
        = f.text_field :password, placeholder: 'Add a password', class: 'pseudo-input'
      .twenty
        = f.submit 'Create message', class: 'btn btn-primary'