!!!
%html
  %head
    %title CryptoNote - Send and receive single-view, encrypted messages
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %link{:href => "https://fonts.googleapis.com/css?family=Cabin", :rel => "stylesheet", :type => "text/css"}
    = csrf_meta_tags
    = favicon_link_tag 'favicon.png' 
    = render 'shared/analytics'
  %body
    %header.clearfix
      .restrict-width
        %h1
          .logo
          = link_to 'CryptoNote', root_path
        %h2
          Send and receive single-view, encrypted messages.

    #content.restrict-width
      = yield

    %footer.restrict-width
      Lovingly crafted by 
      = link_to "Alain Meier.", "http://alainmeier.com", target: "_blank"

      .pull-right
        Fork the project 
        = link_to "on GitHub", "https://github.com/alainmeier/cryptonote", target: "_blank"