!!!
%html
  %head
    %title CryptoNote - Send and receive single-view, encrypted messages
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %link{:href => "http://fonts.googleapis.com/css?family=Cabin", :rel => "stylesheet", :type => "text/css"}
    = csrf_meta_tags
  %body
    %a{:href => "https://github.com/alainmeier/cryptonote", target: "_blank"}
      %img{:alt => "Fork me on GitHub", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", :style => "position: absolute; top: 0; right: 0; border: 0;"}/

    %header.clearfix
      .restrict-width
        %h1
          .logo
          = link_to 'CryptoNote', root_path
        %h2
          Send and receive single-view, encrypted messages. Huh?

    #content.restrict-width
      = yield